@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
   margin: 0px;
   padding: 0px;
   border: 0px;  
}

body{
    background-image: url(../img/fondo1.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    display: block;
}

header{
    background-color: black;
    color: white;;
    padding: 1.5rem 4rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    font-family: 'Sarabun', sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-oskiero{
    font-size: 45px;
}

.header-container a{
    color: white;
    text-decoration: none;
}

.nav-header ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
}

 .nav-header ul li a{
     display: block;
     padding: 0.5rem 1rem;
     transition: all 0.5s linear;
 }

   .nav-header ul li a:hover{
       background: #8F8792;
   }

.tabs{
    display: flex;
}

.search{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 25px;
    color: white;
    background-color: #C4C4C4;
    border-radius: 50px;
    padding: 0.1em 0.8em;
    border: none;
    outline: 0px;
    width: 60%;
}

.filters{
    padding-left: 1.5em;
    width: 40%;
}

.filter-genere{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 25px;
    color: white;
    background-color: #C4C4C4;
    border-radius: 50px;
    padding: 0.1em 0.8em;
    border: 0px;
    outline: 0px;
}

.filter-genere option{
    transition: all 0.5s linear;
    outline: 0px;
}

.body-songs{
    padding: 70px 0 0 0;
    max-width: 1500px;
    display: flex;
    margin: 5em;
    align-items: center;
}

.list-songs img{
    width: 5em;
    height: 5em;
}

.playlist{
    width: 50%;
}

.songs{
    background-color: rgb(0, 0, 0, 0.56);
    margin-top: 2em;
    padding: 2em;
    height: 600px;
    overflow-y: scroll;
}

.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.data div{
    display: flex;
    flex-direction: column;
}

  .a1{
    font-family: 'Sarabun', sans-serif;
  }

  .a2{
    font-family: 'Sarabun', sans-serif;
  }

.player{
    width: 50%;
    padding-left: 4em;
}