@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
   margin: 0px;
   padding: 0px;
   border: 0px;  
}

body{
    background-image: url(../img/fondo1.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    display: block;
}

header{
    background-color: black;
    color: white;;
    padding: 1.5rem 4rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    font-family: 'Sarabun', sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-oskiero{
    font-size: 45px;
}

.header-container a{
    color: white;
    text-decoration: none;
}

.nav-header ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
}

 .nav-header ul li a{
     display: block;
     padding: 0.5rem 1rem;
     transition: all 0.5s linear;
 }

   .nav-header ul li a:hover{
       background: #8F8792;
   }

.tabs{
    display: flex;
}

.search{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 25px;
    color: white;
    background-color: #C4C4C4;
    border-radius: 50px;
    padding: 0.1em 0.8em;
    border: none;
    outline: 0px;
    width: 60%;
}

.filters{
    padding-left: 1.5em;
    width: 40%;
}

.filter-genere{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 25px;
    color: #757575;
    background-color: #C4C4C4;
    border-radius: 50px;
    padding: 0.1em 0.8em;
    border: 0px;
    outline: 0px;
}

.filter-genere option{
    transition: all 0.5s linear;
    outline: 0px;
}

.filter-genere::-webkit-scrollbar{
    width: 7px;
}
.filter-genere::-webkit-scrollbar-thumb{
    background: #757575;
}

.body-songs{
    padding: 70px 0 0 0;
    max-width: 1700px;
    display: flex;
    margin: 5em;
    align-items: center;
}

.songs::-webkit-scrollbar{
    width: 7px;
}
.songs::-webkit-scrollbar-thumb{
    background: #CFABEE;
}

.list-songs img{
    width: 5em;
    height: 5em;
}

.playlist{
    width: 50%;
}

.songs{
    background-color: rgb(0, 0, 0, 0.56);
    margin-top: 2em;
    padding: 2em;
    height: 600px;
    overflow-y: scroll;
}

.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
}

.data div{
    display: flex;
    flex-direction: column;
    padding-left: 18px;
}

  .a1{
      color: white;
      font-family: 'Sarabun', sans-serif;
      font-size: 30px;
  }

  .a2{
      color: white;
      font-family: 'Sarabun', sans-serif;
      font-size: 20px;
      font-weight: lighter;
  }

.player{
    width: 50%;
    padding-left: 4em;
}

.player .song{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img{
    border-radius: 50%;
    width: 440px;
    height: 440px;
    top: 1em;
    animation-name: rotacion;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}
@keyframes rotacion{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.8em;
}
.title .name{
    font-family: 'Sarabun', sans-serif;
    font-weight: bolder;
    color: #A3A5C9;
    font-size: 50px;
}
.title .artist{
    font-family: 'Sarabun', sans-serif;
    color: #A3A5C9;
    font-size: 20px;
}

.parte2{
    width: 50%;
    height: 100px;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barra-tiempo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1em;
    cursor: pointer;

    -webkit-appearance: none;
}
.barra-tiempo::-webkit-slider-runnable-track {
    background-color:#A3A5C9;
    height: .3em;
}
.barra-tiempo::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: #A3A5C9;
    width: 1em;
    height: 1em;
    margin-top: -5px;
}

.controles{
    width: 40vw;
    display: flex;
    justify-content: center;
}
.controles button{
    background-color: rgb(0, 0, 0, 0.0);
}
.controles input{
    padding: .1em;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

.barra-vol{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}
.barra-vol input{
    cursor: pointer;
}

.barr-vol{
    margin-left: 1em;
    -webkit-appearance: none;
}
.barr-vol::-webkit-slider-runnable-track {
    background-color:#A3A5C9;
    height: .3em;
}
.barr-vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: #A3A5C9;
    width: 1em;
    height: 1em;
    margin-top: -5px;
}